.header{
	width: 150%;
	background-color: #f7f3f2;
}
.logo{
	width: 175px;
	cursor: pointer;
}
.navbar{
	float:right;
	display: inline-flex;
}
ul li a{
	text-decoration: none;
}
ul li{
	list-style: none;
}